<% include header %>

<main role="main">
  <div class="container">
    <ul>
    <h2>Test for csc301!</h2>
    <% students.forEach( function( student ) {%>
    <li><%= student.id %> - <%= student.name %> said <%= student.message %></li>
    <%});%>

    </ul>

<% include footer %>
